apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: proseed-preview

resources:
  - namespace.yaml
  - certificate.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
