apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: ghcr.io/skkuding/proseed/web:latest
          ports:
            - containerPort: 3000
          resources:
            limits:
              cpu: 1
              memory: 2Gi
            requests:
              cpu: 0.2
              memory: 200Mi
          envFrom:
            - configMapRef:
                name: web-env
          env:
            - name: APP_ENV
              value: 'production'
